@model List<practica3.Integration.dto.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h2>USUARIOS</h2>
<table class="table">
  <thead>
    <tr>
      <th style="background-color: #00008B; color: white;">Id</th>
      <th style="background-color: #00008B; color: white;">Email</th>
      <th style="background-color: #00008B; color: white;">First Name</th>
      <th style="background-color: #00008B; color: white;">Last Name</th>
      <th style="background-color: #00008B; color: white;">Avatar</th>
      <th style="background-color: #00008B; color: white;">Perfil</th>
    </tr>
  </thead>
  <tbody>
    @if (Model != null && Model.Count > 0)
    {
      foreach (var user in Model)
      {
        <tr>
          <td style="background-color: #ADD8E6;">@user.Id</td>
          <td style="background-color: #ADD8E6;">@user.Email</td>
          <td style="background-color: #ADD8E6;">@user.Nombre</td>
          <td style="background-color: #ADD8E6;">@user.Apellido</td>
          <td><img src="@user.Avatar" alt="Avatar" style="width:50px;height:50px;" /></td>
          <td style="background-color: #ADD8E6;"><a href="@Url.Action("Perfil", new { Id = user.Id })">IR PERFIL</a></td>
        </tr>
      }
    }
    else
    {
      <tr>
        <td colspan="6" class="text-center" style="background-color: #ADD8E6;">NO HAY USUARIO</td>
      </tr>
    }
  </tbody>
</table>
<a href="@Url.Action("Create", "riUsuao")" class="btn btn-primary">CREAR USUARIO</a>
